/* flex布局相关 */
.flex {
    display: flex;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-1 {
    flex: 1;
}
/* 定位相关 */
.pos-r {
    position: relative;
}
.pos-a {
    position: absolute;
}
.pos-f {
    position: fixed;
}
.pos-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.color08c {
    color: #08c;
}
.dib {
    display: inline-block;
}
/* 高亮激活状态 */
.common-active {
    background-image: linear-gradient(to bottom, #ED60FD, #5C7DFF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.colorfff {
    color: #fff;
}