@charset "UTF-8";
.header {
    z-index: 999;
    padding: 0 50px;
    width: 100%;
    height: 64px;
    background: #001529;
}
.header-row {
    margin: 0 auto;
    max-width: 980px;
    margin-bottom: 10px;
}
.header-row .logo {
    margin: 0;
    line-height: 64px;
    font-size: 2em;
    font-weight: 500;
    color: #fff;
    text-align: center;
}
.header-row img {
    width: 100%;
}
.header-right .nav {
    margin-left: 30px;
    float: left;
    line-height: 62px;
    background: none;
    border-bottom: none;
}
.header-right .nav a {
    color: #fff;
}
.header-right .header-divider {
    float: left;
    margin: 10px 0;
    height: 44px;
    background: #e8e8e8;
}
.header-right .ant-menu-item-selected a {
    color: #1890ff;
}
.drop-menu {
    width: 120px;
    text-align: center;
}
@media all and (max-width: 767px) {
    .header {
        padding: 0 10px;
    }
    .header-row {
        border: none;
    }
    .header-row .logo {
        font-size: 1.5em;
    }
}