// 外边距
// 内边距
@mixin padding ($pad: 0) {
    padding: $pad;
}
@mixin paddingT ($padt: 0) {
    padding-top: $padt;
}
@mixin paddingR ($padr: 0) {
    padding-right: $padr;
}
@mixin paddingB ($padb: 0) {
    padding-bottom: $padb;
}
@mixin paddingL ($padl: 0) {
    padding-left: $padl;
}
@mixin paddingTB ($padt: 0, $padb: 0) {
    @include paddingT($padt);
    @include paddingB($padb);
}
@mixin paddingLR ($padl: 0, $padr: 0) {
    @include paddingR($padr);
    @include paddingL($padl);
}
// 宽高相关
@mixin width ($w: 0) {
    width: $w;
}
@mixin height ($h: 0) {
    height: $h;
}
@mixin WH ($w: 0, $h: 0) {
    @include width($w);
    @include height($h);
}
// 竖屏位置
@mixin textAlign ($ta: center) {
    text-align: $ta;
}
// felx布局相关
@mixin alignItems ($ai: center) {
    align-items: $ai;
}
@mixin justifyContent ($jc: center) {
    justify-content: $jc;
}
@mixin flexDirectiuon ($rd: row) {
    flex-direction: $rd;
}
// 位置相关
@mixin pos ($pos: relative) {
    position: $pos;
}
@mixin posT ($top: 0) {
    top: $top;
}
@mixin posR ($right: 0) {
    right: $right;
}
@mixin posB ($bot: 0) {
    bottom: $bot;
}
@mixin posL ($left: 0) {
    left: $left;
}

@mixin posTL ($top: 0, $left: 0) {
    @include posT($top);
    @include posL($left);
}
@mixin posTR ($top: 0, $right: 0) {
    @include posT($top);
    @include posR($right);
}
@mixin posBL ($bot: 0, $left: 0) {
    @include posB($bot);
    @include posL($left);
}
@mixin posBR ($bot: 0, $right: 0) {
    @include posB($bot);
    @include posR($right);
}

@mixin borderRadius ($br: 0) {
    border-radius: $br;
}
@mixin fontsize ($fs: 0) {
    font-size: $fs;
}
@mixin color ($c: #333) {
    color: $c;
}