// 外边距
@mixin marginT ($t: 0) {
    margin-top: $t;
}
@mixin marginR ($r: 0) {
    margin-right: $r;
}
@mixin marginB ($b: 0) {
    margin-bottom: $b;
}
@mixin marginL ($l: 0) {
    margin-left: $l;
}
@mixin marginTB ($t: 0, $b: 0) {
    @include marginT($t);
    @include marginB($b);
}
@mixin marginLR ($l: 0, $r: 0) {
    @include marginR($r);
    @include marginL($l);
}
// 内边距
@mixin padding ($pad: 0) {
    padding: $pad;
}
@mixin paddingT ($t: 0) {
    padding-top: $t;
}
@mixin paddingR ($r: 0) {
    padding-right: $r;
}
@mixin paddingB ($b: 0) {
    padding-bottom: $b;
}
@mixin paddingL ($l: 0) {
    padding-left: $l;
}
@mixin paddingTB ($t: 0, $b: 0) {
    @include paddingT($t);
    @include paddingB($b);
}
@mixin paddingLR ($l: 0, $r: 0) {
    @include paddingR($r);
    @include paddingL($l);
}
// 宽高相关
@mixin width ($w: 0) {
    width: $w;
}
@mixin height ($h: 0) {
    height: $h;
}
@mixin WH ($w: 0, $h: 0) {
    @include width($w);
    @include height($h);
}
// 竖屏位置
@mixin textAlign ($ta: center) {
    text-align: $ta;
}
// felx布局相关
@mixin alignItems ($ai: center) {
    align-items: $ai;
}
@mixin justifyContent ($jc: center) {
    justify-content: $jc;
}
@mixin flexDirectiuon ($rd: row) {
    flex-direction: $rd;
}
// 位置相关
@mixin pos ($pos: relative) {
    position: $pos;
}
@mixin posT ($top: 0) {
    top: $top;
}
@mixin posR ($right: 0) {
    right: $right;
}
@mixin posB ($bot: 0) {
    bottom: $bot;
}
@mixin posL ($left: 0) {
    left: $left;
}

@mixin posTL ($top: 0, $left: 0) {
    @include posT($top);
    @include posL($left);
}
@mixin posTR ($top: 0, $right: 0) {
    @include posT($top);
    @include posR($right);
}
@mixin posBL ($bot: 0, $left: 0) {
    @include posB($bot);
    @include posL($left);
}
@mixin posBR ($bot: 0, $right: 0) {
    @include posB($bot);
    @include posR($right);
}

@mixin borderRadius ($br: 0) {
    border-radius: $br;
}
@mixin fontsize ($fs: 0) {
    font-size: $fs;
}
@mixin color ($c: #333) {
    color: $c;
}