@charset "Utf-8";
.book-wrapper {
    padding: 20px 0;
}
.book-wrapper > div:not(:last-child) {
    margin-bottom: 20px;
}
.book-wrapper p {
    margin-bottom: 1em;
}
.book-wrapper strong {
    font-weight: 500;
    color: #333;
}
.link-list div {
    display: flex;
    flex-wrap: wrap;
}
.link-list a {
    min-width: 160px;
    max-width: 260px;
    margin: 5px auto;
}
.link-list img {
    width: 100%;
}