@charset "UTF-8";
.flex {
    display: flex;
}
.flex_1 {
    flex: 1;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ai-c {
    align-items: center;
}
.ac-s {
   align-items: flex-start; 
}
.jc-c {
    justify-content: center;
}
.jc-s {
   justify-content: space-between;
}
.pos-f {
    position: fixed
}
.pos-r {
    position: relative;
}
.pos-a {
    position: absolute;
}
.all0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.top0 {
   top: 0; 
}
.right0 {
   right: 0; 
}
.bottom0 {
   bottom: 0; 
}
.left0 {
   left: 0; 
}
.tl0 {
    top: 0;
    left: 0;
}
.tr0 {
    top: 0;
    right: 0;
}
.bl0 {
    bottom: 0;
    left: 0;
}
.br0 {
    bottom: 0;
    right: 0;
}
.pos-c {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tal {
    text-align: left;
}
.tac {
    text-align: center;
}
.tar {
    text-align: right;
}
.db {
    display: block;
}
.dib {
    display: inline-block;
}
.mb-12px {
    margin-bottom: 12px;
}
.w100 {
    width: 100%;
}
.main-wrap {
    margin: 0 auto;
    max-width: 980px;
    height: 100%;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
